<div class="constructor-control_title">Корпус</div>
<control-items items="vm.allCases" 
			   selected-name="vm.selectedCaseName" 
			   select-callback="vm.changeCase"
			   mouseonitem-callback="vm.mouseOnItem"
></control-items>
