<div class="compliteImgTransform" ng-show='vm.visible' ng-cloak>
  <div class="compliteImgTransform_info">Перемещение картинки</div>
  <div class="compliteImgTransform_btn" ng-click="vm.complite()">Применить</div>
</div>
