<div class="constructor-control_items-topline" ng-show="!vm.scrollActive"></div>
<div class="constructor-control_items">
	<div class="constructor-control_items-inner">
		<div class="constructor-control_alter-item"
			 ng-repeat="item in vm.items"
			 ng-click="vm.changeSelectItem(item)"
			 ng-class="{'constructor-control_alter-item__active':vm.selectedName==item.name}"
			 ng-mouseenter="vm.mouseEnterItem(item)"
			 ng-mouseleave="vm.mouseLeaveItem(item)"
		>
			<img class="constructor-control_alter-item-img {{vm.imgClass}}"				 
				 ng-src="{{item.previewImg}}"				 
			>
			<div class="constructor-control_alter-item-circle"></div>
		</div>	
	</div>
</div>
<div class="constructor-control_items-rightarrow"  ng-click="vm.scrollRight()"></div>
<div class="constructor-control_items-leftarrow"   ng-click="vm.scrollLeft()"></div>