<div class="constructor-control_title">
	<div class="constructor-control_title-type"
			 ng-click="vm.changeType('leather')"
			 ng-class="{'constructor-control_title-type__active':vm.selectedStrapType=='leather'}"
	>Ремешок</div>
	<div class="constructor-control_title-type-sep">/</div>
	<div class="constructor-control_title-type"
			 ng-click="vm.changeType('metal')"
			 ng-class="{'constructor-control_title-type__active':vm.selectedStrapType=='metal'}"
	>Браслет</div>
</div>
<control-items items="vm.currentTypeStraps" 
			   selected-name="vm.selectedStrapName" 
			   select-callback="vm.changeStrap"
			   mouseonitem-callback="vm.mouseOnItem"
			   img-class="constructor-control_alter-item-img__strap"
></control-items>