<div class="text-control_body">
	<textarea class="text-control_textarea" rows="3" placeholder="Введите тект для отображения на циферблате"  ></textarea>
	<div class="text-control_control-panel">
		<div class="text-control_font"
				 outside-click="vm.fontFamilyDropDown.closeList()"
				 outside-element-visible = "vm.fontFamilyDropDown.listVisible"
		>
	    <div class="text-control_font-current" ng-click="vm.fontFamilyDropDown.changeListVisible()">
				<div class="text-control_font-current-preview" style="font-family:'{{vm.selectedFont.name}}'">Аа</div>
				<div class="text-control_font-current-name">{{vm.selectedFont.name}}</div>
			</div>
			<div class="text-control_font-list"
					 ng-class="{'text-control_font-list__visible':vm.fontFamilyDropDown.listVisible}"
			>
				<div class="text-control_font-list-item" ng-repeat="font in vm.allFonts" ng-click="vm.fontFamilyDropDown.select(font)">
					<div class="text-control_font-list-item-preview"  style="font-family:'{{font.name}}'">Аа</div>
					<div class="text-control_font-list-item-name">{{font.name}}</div>
				</div>
			</div>
		</div>

		<div class="text-control_size"
				 outside-click="vm.fontSizeDropDown.closeList()"
				 outside-element-visible = "vm.fontSizeDropDown.listVisible"
		>
	    <div class="text-control_size-current" ng-click="vm.fontSizeDropDown.changeListVisible()">
				<div class="text-control_size-current-name">{{vm.selectedSize}}</div>
			</div>
			<div class="text-control_size-list"
					 ng-class="{'text-control_size-list__visible':vm.fontSizeDropDown.listVisible}"

			>
				<div class="text-control_size-list-item" ng-repeat="size in vm.selectedFont.sizes" ng-click="vm.fontSizeDropDown.select(size)">
					<div class="text-control_size-list-item-name">{{size}}</div>
				</div>
			</div>
		</div>

		<div class="palette">
		  <div class="palette_current">
		    <div class="palette_current-color"
		    	   style="background-color:{{vm.colorPalette.currentColor}}"
		    	   ng-click="vm.colorPalette.showColorsList()"></div>
		  </div>
		  <div class="palette_list"
		       ng-class="{'palette_list__visible':vm.colorPalette.colorsListVisible}"
	           outside-click="vm.colorPalette.closeColorsList()"
			   outside-element-visible = "vm.colorPalette.colorsListVisible"
		  >
		    <div class="palette_list-item" ng-repeat="color in vm.colorPalette.allColors">
		      <div class="palette_list-item-color" style="background-color:{{color}}" ng-click="vm.colorPalette.changeColor(color)"></div>
		    </div>
		    <div class="palette_list-item">
		      <div class="palette_list-item-picker" ng-click="vm.colorPalette.showPicker(color)"></div>
		    </div>
		  </div>

		  <color-picker class="palette_picker"
		                ng-model="vm.colorPalette.colorPickerColor"
		                ng-class="{'palette_picker__visible':vm.colorPalette.pickerVisible}"
		                outside-click="vm.colorPalette.closePicker()"
		                outside-element-visible = "vm.colorPalette.pickerVisible"
		  ></color-picker>
		</div>

		<div class="text-control_btns">
			<div class="text-control_editBtn" ng-click="vm.transformModeOn()" ng-class="{'text-control_editBtn__disable':!vm.transformModeOnBtnVisible}">Переместить</div>
			<div class="text-control_delteBtn" ng-click="vm.clearText()">Очистить</div>
		</div>
	</div>	
</div>
