<div class="textInputPopup" ng-cloak ng-show="vm.visible">
	<div class="textInputPopup__title">Введите имя, которое будет отображаться на часах:</div>
	<input type="text" class="textInputPopup__textinp">
	<div class="textInputPopup__okBtn" 
		 ng-class="{'textInputPopup__okBtn_active':vm.btnActive}"	
		 ng-click="vm.onComplite()">Посмотреть</div>
</div>
<div class="textInputPopup-bg" ng-cloak ng-show="vm.visible"></div>