<div class="tooltip tooltip_bottom tooltip_fonts fade" ng-cloak ng-show="vm.currentTip=='fonts'">
	<div class="tooltip__close" ng-click="vm.close()"></div>
	<img src="/img/constructor/tip-info.png" class="tooltip__icon">
	<div class="tooltip__text">Подберите шрифт, размер и цвет надписи по своему вкусу</div>	
</div>