<input type="text" class="constructor-form_inp" placeholder="Ваше имя" ng-model="vm.values.name" ng-class="{'constructor-form_inp__error':!vm.validResults.name}">
<input type="text" class="constructor-form_inp" placeholder="Телефон" ng-model="vm.values.phone" ng-class="{'constructor-form_inp__error':!vm.validResults.phone}">
<input type="text" class="constructor-form_inp" placeholder="E-mail" ng-model="vm.values.email" ng-class="{'constructor-form_inp__error':!vm.validResults.email}">
<textarea class="constructor-form_text" rows="1" placeholder="Адрес доставки" ng-model="vm.values.address"></textarea>
<textarea class="constructor-form_text constructor-form_text__comment" rows="5" placeholder="Оставьте свои пожелания, мы их обязательно учтем и вышлем вам макет на согласование перед отправкой в работу" ng-model="vm.values.comment"></textarea>
<div class="constructor-form_sendBtn" ng-click="vm.sendForm()" ng-show="vm.state=='form'">Заказать</div>
<img src="/img/ui/loading.gif" class="constructor-form_loading-img" ng-show="vm.state=='loading'">
