<div class="cabinetSignin_form">
	<div class="cabinetSignin_title">Введите e-mail, который вы указывали<br>при создании заказа:</div>
	<form ng-submit="vm.findByEmail()">
	    <input type="text" class="cabinetSignin_inp" id="cabinetSignin_inp"  placeholder="Ваш e-mail" ng-model="vm.email" autofocus>
	    <input type="submit" class="cabinetSignin_sendBtn" value="открыть">
	</form>
	<div class="cabinetSignin_notFound" ng-class="{'cabinetSignin_notFound__visible':vm.notFoundInfoVisible}">не найдено заказов для укзанного email</div>
	<div class="cabinetSignin_notValidEmail" ng-class="{'cabinetSignin_notValidEmail__visible':vm.notValidEmailInfoVisible}">введите корректный email</div>

</div>

<footer class="footer-wrap footer-wrap__aboslute"></footer>