.site-wrap {
	min-width: 1200px;
	max-width: 1600px;
	margin: 0 auto;
}

/*inner используется в нескольких блоках*/
.inner {
	width: 1200px;
	margin: 0 auto;
}

.header {
	background-image: url(../img/header/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	height: 652px;
	border-bottom: 8px solid #f8e95d;
	overflow: hidden;
}

.header__title{
    width: 342px;
    margin: 0 auto;
    text-shadow: 2px 2px 7px rgb(0, 0, 0);
    color: #ffffff;
    font-family: Pollock;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    margin-left: 198px;
    top: 172px;
    line-height: 51px;
}

.header__title-img {
	position: absolute;
    top: 175px;
    left: 50%;
    margin-left: 92px;
    width: 87px;
    height: 94px;
}

.header__title-img-front {
	background-image: url(../img/header/arrow2.png);
	width: 87px;
    height: 94px;
}

.header__title-img-back {
	background-image: url(../img/header/arrow2.png);
	width: 87px;
    height: 94px;
	
}


.header__watch{
    position: absolute;
    left: 50%;
    margin-left: -311px;
    top: 0;
}

.header__slogan{
    position: absolute;
    top: 390px;
    left: 50%;
    margin-left: 64px;
}

.header__slogan-text1{
	text-shadow: 2px 2px 7px rgba(251, 247, 142, 0.98);
	color: #240000;
	font-family: "Pollock";
	font-size: 36px;
	font-weight: 400;
    line-height: 35px;
}

.header__slogan-text2{
	text-shadow: 2px 2px 7px rgba(251, 247, 142, 0.98);
	color: #882626;
	font-family: "Pollock";
	font-size: 60px;
	font-weight: 400;
}


/*блок screen2*/


.screen2 {
	height: 658px;
	background-image: url(../img/screen2/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 40px;
    overflow: hidden;
    position: relative;
}


.screen2__title {
    position: absolute;
    top: -74px;
    left: 50%;
    margin-left: -318px;
    text-align: center;
    color: #ff7e00;
    font-family: Pollock;
    font-size: 54px;
    font-weight: 400;
    transition:top 0.4s linear;
}

.screen2__title_visible {
	top: 37px;
}

.screen2-inner{
    left: 50%;
    margin-left: -675px;
    position: relative;
    top: -110px;
}

.screen2__slogan {
    text-shadow: 2px 2px 7px #058383;
    color: #ffffff;
    font-family: Pollock;
    font-size: 61px;
    font-weight: 400;
    width: 1056px;
    height: 70px;
    line-height: 70px;
    background-color: #00ffff;
    position: absolute;
    z-index: 10;
    text-align: right;
    padding-right: 170px;
    margin-left: -126px;
    top: 136px;
}

.screen2__img2 {
	position: absolute;
	z-index: 8;
	margin-left: 162px;
	top: 136px;
}

.screen2__straps {
    position: absolute;
    z-index: 9;
    margin-left: -580px;
    bottom: 0;
    left: 50%;
}

.screen2__strap {
    height: 623px;
    width: 235px;
    background-position: 0px 24px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-position 0.3s linear;
}

.screen2__strap_high {
	background-position: 0px 0px;
}

.screen2__strap_1 {
	background-image: url('../img/screen2/strap-yellow.png');
	z-index: 3;
}

.screen2__strap_2 {
	background-image: url('../img/screen2/strap-green.png');
	z-index: 2;	
}

.screen2__strap_3 {
	background-image: url('../img/screen2/strap-red.png');
	z-index: 1;	
}



/*screen3*/


.screen3{
	height: 1089px;
	overflow: hidden;
	position: relative;
}

.screen3-title{
	background-color: #d50000;
	height: 104px;
}

.screen3__text {
	font-family: Pollock;
    font-size: 54px;
    font-weight: 400;
    width: 588px;
    margin: 0 auto;
    color: #ffffff;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -382px;
}

.screen3-container1 {
	background-color: #ff0000;
	height: 490px;
}

.screen3-container1__img {
	position: absolute;
	left: 50%;
    margin-left: -801px;
    top: 103px;
}

.screen3-container1-text{
	position: absolute;
	left: 50%;
    margin-left: 84px;
    top: 144px;
}

.screen3-container1-text__item1{
	color: #ffffff;
	font-family: Roboto;
	font-size: 27px;
	font-weight: 700;
	margin-bottom: 38px;
}

.screen3-container1-text__item2{
	color: #ffffff;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
    margin-bottom: 38px;
}

.screen3-container1-text__item3{
	color: #ffffff;
	font-family: Roboto;
	font-size: 27px;
	font-weight: 700;
}

.screen3-container1__watch {
	position: absolute;
	left: 50%;
    margin-left: -233px;
}

.screen3-container2 {
	height: 496px;
	background-color: #ff4900;
}

.screen3-container2-text {
	position: absolute;
	right: 50%;
    top: 658px;
    margin-right: 93px;
}

.screen3-container2-text__item1{
	color: #ffffff;
	font-family: Pollock;
	font-size: 53px;
	font-weight: 400;
}

.screen3-container2-text__item2{
	color: #ffffff;
	font-family: Roboto;
	font-size: 27px;
	font-weight: 700;
	margin-top: 61px;
}

.screen3-container2__img {
	position: absolute;
	left: 50%;
    top: 595px;
    margin-left: 7px;
}



/*screen4*/

.screen4{
	background-image: url(../img/screen4/men.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height:664px;
	position: relative;
	overflow: hidden;
}

.screen4__title{
    width: 682px;
    height: 123px;
    background-color: #d50000;
    color: #ffffff;
    font-family: Pollock;
    font-size: 46px;
    font-weight: 400;
    position: absolute;
    top: 17px;
    left: 50%;
    margin-left: -78px;
    padding-left: 27px;
    padding-top: 6px;
}



.screen4__watch-round-wrap {
	width: 740px;
    height: 740px;
    position: absolute;
    left: 50%;
    margin-left: -55px;
    top: 139px;
    z-index: 1;
}

.screen4__slogan{
    width: 530px;
    height: 124px;
    color: #ff0000;
    font-family: Pollock;
    font-size: 33px;
    font-weight: 400;
    position: absolute;
    left: 123px;
    top: 44px;
    z-index: 6;
}

.screen4__watch-round{
	width: 581px;
    height: 581px;
    background-color: rgba(117, 203, 197, 0.57);
    border-radius: 335px;
    position: absolute;
    left: 113px;
    top: 46px;
    z-index: 1;
    padding-left: 77px;
    padding-top: 62px;
    transition: all 0.3s linear;
}

.screen4__watch-round-wrap:hover .screen4__watch-round {
    width: 531px;
    height: 531px;
    top: 71px;
    left: 135px;;
}

.screen4__watch-img{
    position: absolute;
    top: 40px;
    left: 111px;
    z-index: 2;
}


/*screen5*/

.screen5{
	
}

.screen5__top {
	background-image: url(../img/screen5/wall.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 251px;
	padding-top: 26px;
}

.screen5__top-info {
    width: 857px;
    height: 184px;
    background-color: #e9e9e9;
    margin: 0 auto;
    position: relative;
    padding-top: 36px;
    padding-left: 77px;
}

.screen5__top-info-arrow {
	position: absolute;
    top: 151px;
    left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 52px;
	background-image: url(../img/screen5/arrow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.screen5__top-info-corner {
	position: absolute;	
	width: 141px;
	height: 89px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.screen5__top-info-corner_top {
	background-image: url('../img/screen5/corner-top.png');
	top:6px;
	left:6px;
}

.screen5__top-info-corner_bottom {
	background-image: url('../img/screen5/corner-bottom.png');
	bottom:6px;
	right: 6px;
}

.screen5__top-text1 {
	color: #b51217;
	font-family: "Pollock";
	font-size: 51px;
	font-weight: 400;
    line-height: 58px;
}

.screen5__top-text2 {
	color: #b51217;
	font-family: "Pollock";
	font-size: 38px;
	font-weight: 400;
	padding-left: 2px;
}

.screen5__bottom {
	background-image: url(../img/screen5/wall.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 51px;
}


.screen5__slider {
	position: relative;
	overflow: hidden;
}

.slide {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 572px;
}

.slide__watch{
    position: absolute;
    left: 50%;    
}


.slide_1{
	background-image: url(../img/slick2/slide1/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.slide-items{
}

.slide-items_location1{
	position: absolute;
    left: 50%;
    margin-left: -435px;
    top: 30px;
}

.slide-items__img-triangle-left{
	position: absolute;
    top: -1px;
    left: -15px
}

.slide-items__img-triangle-bottom{
	position: absolute;
    bottom: -18px;
    right: 0;
}

.slide-items__rectangle-color{
    padding-left: 24px;
    padding-top: 15px	
}

.slide-items__rectangle-color_blue{
	width: 620px;
	height: 228px;
	background-color: #20c5d4;
    box-sizing: border-box
}

.slide-items__rectangle-color-text{
	color: #fff;
	font-family: Pollock;
	font-size: 35px;
	font-weight: 400;
}

.slide-items__rectangle-color-text_margin-top{
    margin-top: 22px;
}

.slide-items__rectangle-color-text_display-inline-block{
	display: inline-block;
	vertical-align: top;
}

.slide-items__rectangle-color-text_yellow{
	color: yellow;
}

.slide-items__rectangle-color-text_blue{
	color: blue;
}

.slide__watch_slide1{
	margin-left: 53px;
}

.slide_2{
	background-image: url(../img/slick2/slide2/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.slide-items_location2{
    position: absolute;
    left: 50%;
    margin-left: -484px;
    top: 149px;
}

.slide-items__rectangle-color_green{
	background-color: #5ebd00;
	height: 274px;
	width: 647px;
	padding-left: 24px;
    padding-top: 29px;
}

.slide-items__rectangle-color-text_margin-top-slide2i3{
	margin-top: 45px;
}

.slide__watch_slide2 {
    margin-left: 51px;
}

.slide_3 {
	background-image: url(../img/slick2/slide3/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.slide-items_location3{
	position: absolute;
	left: 50%;
    margin-left: -352px;
    top: 337px;
}

.slide-items__rectangle-color_yellow{
    height: 216px;
    width: 610px;
	background-color: #ec5e00;
}

.slide-items__rectangle-color-text_margin-top-slide3i3{
	margin-top: 17px;
}

.slide__watch_slide3 {
    margin-left: 123px;
}

.slide_4{
	background-image: url(../img/slick2/slide4/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;

}

.slide-items_location4{
	position: absolute;
	left: 50%;
	margin-left: -336px;
    top: 26px;;
}

.slide-items__rectangle-color_violet{
	height: 228px;
	width: 502px;
	background-color:#7c1447; 
}

.slide__watch_slide4 {
    margin-left: 35px;
}

.slick-list{
	overflow: hidden;
}

.screen5-arrow-left{
	background-color: rgba(59, 59, 59, 0.1);
    position: absolute;
    left: 50%;
    margin-left: -800px;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 1000;
}

.screen5-arrow-left:hover{
	background-color: rgba(59, 59, 59, 0.5);
}

.screen5-arrow-left__img{
    margin-top: 192px;
    margin-left: 148px;
}

.screen5-arrow-right{
	background-color: rgba(59, 59, 59, 0.05);
	position: absolute;
    right: 50%;
    margin-right:-800px;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 1000;
}

.screen5-arrow-right:hover{
	background-color: rgba(59, 59, 59, 0.5);
}

.screen5-arrow-right__img{
	margin-top: 192px;
	margin-left: 12px;
}


/*order*/

.order{
	background-image: url(../img/order/BGI.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 629px;
	position: relative;
	overflow: hidden;
}

.order-items {
    width: 539px;
    height: 315px;
    position: absolute;
    top: 97px;
    left: 50%;
    margin-left: 67px;
}

.order-items__title {
	color: #ffffff;
	font-family: Pollock;
	font-size: 61px;
	font-weight: 400;
}

.order-items-input {
}

.order-items-input__item {
	width: 473px;
	height: 62px;
	border-radius: 4px;
	border: 2px solid #860113;
	background-color: #ffffff;
    padding-top: 2px;
    padding-left: 22px;
    margin-bottom: 49px;
    margin-top: 110px;
    margin-left: -4px;
    color: #4b4b4b;
	font-family: Roboto;
	font-size: 26px;
	font-weight: 400;
}

.order-items-input__img {
	position: absolute;
    top: 181px;
    left: -70px
}

.order-items-input__button {
	display: block;
	width: 363px;
	height: 58px;
	background-color: #44b759;
	color: #fefefe;
	font-family: Roboto;
	font-size: 26px;
	font-weight: 400;
    padding-top: 14px;
    padding-left: 30px;
    cursor: pointer;
    text-decoration: none;;
	}

.order-items-input__button:hover {
	background-color:#3ce35a;
}

.order__img-watch {
    position: absolute;
    left: 50%;
    margin-left: -490px;
    top: 77px;
    z-index: 4;

}



/*info*/

.info {
	height: 273px;
	background-color: #ff4900;
	color: #ffffff;
	font-family: Pollock;
	font-size: 33px;
	font-weight: 400;
	padding-top: 46px;
	overflow: hidden;
}

.inner__info{
	width: 1113px;
	margin: 0 auto;
	color: #ffffff;
	font-family: Pollock;
	font-size: 33px;
	font-weight: 400;
    padding-left: 11px;
    padding-top: 4px;
    box-sizing: border-box;
	}



/*steps*/

.steps {
	background-image: url(../img/steps/shagi.jpg);
	background-position: top center;
	background-repeat: no-repeat;
    height: 1134px;	
    position: relative;
	overflow: hidden;
}

.steps-title {
	background-image: url(../img/steps/flag.png);
	background-position: top center;
	background-repeat: no-repeat;
    width: 634px;
    height: 105px;
	color: #ffffff;
	font-family: Pollock;
	font-size: 61px;
	font-weight: 400;
    padding-top: 17px;
    padding-left: 226px;
	position: absolute;
	left: 50%;
    margin-left: -800px;
    top: 24px;
	}

.steps-items {
	width: 980px;
	height: 875px;
	position: absolute;
    left: 50%;
    margin-left: -380px;
    top: 135px
}

.steps-item {
	margin-bottom: 35px;
	margin-top: 35px;

}

.steps-item: first-child {
	margin-top: 0px;
}

.steps-item: last-child {
	margin-bottom: : 0px;
}

.steps-item__img {
	background-image: url(../img/steps/circle.png);
	background-repeat: no-repeat;
	width: 83px;
	height: 83px;
	text-align: center;
	line-height: 83px;
	color: #ffffff;
	font-family: Pollock;
	font-size: 53px;
	font-weight: 400;
	position: absolute;
	left: -120px
}

.steps-item__img_higher{
}

.steps-item__text {
	text-shadow: 0 0 7px rgba(203, 0, 29, 0.71);
	color: #ffffff;
	font-family: Pollock;
	font-size: 40px;
	font-weight: 400;
	display: inline-block;
	background-color: #fa0221;
	height: 55px;
	margin-bottom: 2px;
	padding-right: 45px;
	padding-left: 17px;
    padding-top: 2px;


} 

.steps-item__text_fixed {
	width: 856px;
	height: 55px;
	background-color: #fa0221;
}


/*pride*/

.pride {
    height: 207px;
	background-image: url(../img/pride/BGI.png);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	overflow: hidden;
}

.pride__text {
	width: 235px;
	height: 77px;
	color: #ffffff;
	font-family: Pollock;
	font-size: 40px;
	font-weight: 400;
	position: absolute;
    left: 50%;
    margin-left: -513px;
    top: 34px;
}

.pride__button {
	display: block;
	width: 363px;
	height: 58px;
	background-color: #44b759;
	color: #fefefe;
	font-family: Roboto;
	font-size: 26px;
    font-weight: 400;
    position: absolute;
    left: 50%;
	margin-left: 172px;
    top: 119px;
    padding-top: 13px;
    padding-left: 31px;
    text-decoration: none;
}

.pride__button:hover {
    background-color: #3ce35a;
}

/*footer*/

.footer{
	height: 143px;
	background-color: #474747;
	position: relative;
	overflow: hidden;
}

.footer-items{
	position: absolute;
    left: 50%;
    margin-left: -483px;
    top: 68px;
}

.footer-items__item{
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
    margin-right: 29px;
}

.footer-items2{
    position: absolute;
    left: 50%;
    margin-left: 23px;
    top: 43px;
    width: 514px;
	height: 75px;
	border: 1px solid #ffffff;
    padding-left: 20px;
    box-sizing: border-box;
}

.footer-items2__item{
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 300;
    margin-top: 7px;

}
