body {
	background-color: #eee;
}


.sitewrap{
	max-width: 1600px;
	min-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

.header{
	position: relative;
	background-image: url(../img/header/BGI2.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 722px;
}

.header__title{
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.35);
	color: #ee698a;
	font-family: HeinrichScript;
	font-size: 54px;
	font-weight: 400;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 145px;
}

.header__info{
    color: #1c094e;
    font-family: HeinrichScript;
    font-size: 31px;
    font-weight: 400;
    position: absolute;
    margin-left: -27px;
    top: 348px;
    left: 50%;
    line-height: 37px;
}

.header_orderBtn {	
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(210, 105, 137);
    position: absolute;
    top: 521px;
    left: 50%;
    margin-left: -25px;
    width: 303px;
    height: 47px;
    text-align: center;
    line-height: 47px;
    text-decoration: none;
    font-size: 23px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
}



.header_orderBtn:hover {
	background-color: rgb(227, 62, 113);
}

.header__watch-img{
    position: absolute;
    left: 50%;
    margin-left: 293px;
    top: 283px;
}

.screen2{
	background-image: url(../img/screen2/BGI.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	height: 620px;
}

.screen2__title{
	color: #d26989;
	font-family: HeinrichScript;
	font-size: 60px;
	font-weight: 400;
    position: absolute;
    right: 50%;
    margin-right: 344px;
    top: 202px;
}

.screen2__info{
	color: #d26989;
	font-family: HeinrichScript;
	font-size: 30px;
	font-weight: 400;
    width: 201px;
    position: absolute;
    left: 50%;
    margin-left: -552px;
    top: 305px;
    line-height: 35px;
}

.screen2__watch-img{
    position: absolute;
    left: 50%;
    margin-left: -322px;
    top: 77px;
}

.screen3{
}

.screen3-unit1{
	background-image: url(../img/screen3/BGI1.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	height: 600px;
}

.screen3-unit1__text{
	color: #d45069;
	font-family: HeinrichScript;
    font-size: 36px;
    font-weight: 400;
    width: 244px;
    position: absolute;
    left: 50%;
    margin-left: 30px;
    top: 385px;
    line-height: 43px;
}

.screen3-unit1__watch-img{
	position: absolute;
    left: 50%;
    margin-left: 181px;
    top: 0;
}

.screen3-unit2{
	background-image: url(../img/screen3/BGI2.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	height: 600px;
}

.screen3-unit2__title{
	width: 243px;
    color: #365371;
    font-family: Roboto;
    font-size: 39px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    margin-left: -291px;
    top: 52px;
    text-align: right;
}

.screen3-unit2__info{
	width: 234px;
    color: #365371;
    font-family: HeinrichScript;
    font-size: 34px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    margin-left: -281px;
    top: 438px;
    line-height: 41px;
}

.screen3-unit2__watch-img{
    position: absolute;
    left: 50%;
    margin-left: -775px;
    top: 0px;
}

.screen4{
	height: 720px;
	position: relative;
	background-image: url(../img/screen4/BGI.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.screen4__title{
    text-shadow: 0 3px 7px rgba(1, 9, 70, 0.76);
    color: #ffffff;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: 62px;
    width: 564px;
    text-align: right;
}

.screen4__info{
    width: 527px;
    text-shadow: 0 3px 7px rgba(1, 9, 70, 0.76);
    color: #ffffff;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    margin-left: 32px;
    top: 545px;
    text-align: right;
}

.screen4__watch-img{
	position: absolute;
    top: 182px;
    left: 50%;
    margin-left: 275px;
}

.screen5{
	height: 613px;
	background-color: #ffffff;
}

.inner-screen5{
	width: 1200px;
	margin: 0 auto;
}

.screen5__title{
    text-align: center;
	color: #3a3a3a;
	font-family: Roboto;
	font-size: 44px;
	font-weight: 400;
    margin-top: 45px;
}

.screen5__info{
    text-align: center;
    margin-top: 43px;
	color: #756d5f;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 300;
}

.screen5-line_margintop114{
    margin-top: 114px;
}

.screen5-line_margintop112{
    margin-top: 112px;
}

.screen5-line{
    text-align: center;
}

.screen5-line__unit{
	display: inline-block;
	vertical-align: top;
	position: relative;
    width: 496px;

}

.screen5-line__img-element{
	position: absolute;
}

.screen5-line__img-element_korpus{	
    margin-left: -67px;
    top: -18px;
}

.screen5-line__img-element_mechanic{
    left: -8px;
    top: -17px;	
}

.screen5-line__img-element_glass{
    left: -32px;
    top: -32px;	
}

.screen5-line__img-element_belt{
	left: -7px;
    top: -32px;
}

.screen5-line__text{
	display: inline-block;
	vertical-align: top;
	color: #656565;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 400;
	text-align: left;
}

.screen5-line__text_location1{
    margin-left: 78px;
}

.screen5-line__text_location2{
    margin-top: 25px;
    margin-left: 90px;
}

.screen5-line__text_location3{
    margin-left: 23px;
}

.screen5-line__text_location4{
    margin-left: 123px;
}

.screen6{
	height: 442px;
	background-image: url(../img/screen6/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.screen6__inner{
	width: 1200px;
	margin: 0 auto;
    text-align: center;
    padding-top: 43px;
}

.screen6__title{
	color: #3a3a3a;
	font-family: Roboto;
	font-size: 44px;
	font-weight: 400;
}

.screen6-steps{
	counter-reset: steps;
    margin-top: 77px;
}

.screen6-steps__text{
	color: #3a3a3a;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
    width: 375px;
	text-align: left;
    position: relative;
    padding-left: 85px;

}

.screen6-steps__text:before {
	position: absolute;
    top: -12px;
    left: 33px;
	counter-increment: steps;
	content: counter(steps) ".";
	color: #3a3a3a;
	font-family: HeinrichScript;
	font-size: 51px;
	font-weight: 400;
}

/*.screen6-steps__text_location1{
    padding-left: 78px;
}

.screen6-steps__text_location2{
    padding-left: 90px;
}

.screen6-steps__text_location3{
    padding-left: 77px;
}*/

.screen6-steps__text_location4{
    margin-top: 63px;
    /*padding-left: 76px;*/
}

.screen6-steps__text_location5{
    margin-top: 63px;
   /* padding-left: 89px;*/
}

.screen6-steps__text_location6{
    margin-top: 63px;
    /*padding-left: 77px;*/
}

.screen7{
	background-image: url(../img/screen7/BGI.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	height: 536px;
}

.screen7__title{
	color: #d44f68;
	font-family: HeinrichScript;
	font-size: 50px;
	font-weight: 400;
	position: absolute;
	left: 50%;
    margin-left: 100px;
    top: 119px;
}

.screen7__button {
    display: block;
    text-decoration: none;
    width: 457px;
    line-height: 59px;
    background-color: #763447;
    position: absolute;
    left: 50%;
    margin-left: 100px;
    top: 258px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.screen7__button:hover {
    background-color: #9f3050;
}

.screen7__flower-img{
	position: absolute;
	left: 50%;
    margin-left: 305px;
    top: 405px;
}































.between{
	height: 125px;
	background-color: #db7380;
	position: relative;
    padding-top: 10px;
}

.between-social{
	position: absolute;
	z-index: 10;
    top: 26px;
    left: 50%;
    margin-left: -296px;
}

.between-social__item-text{
	color: #ffffff;
	font-family: Roboto;
	font-size: 26px;
	font-weight: 400;
    margin-top: 23px;
    margin-right: 70px;
    display: inline-block;
    vertical-align: top;
}


.between-social__item {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100px;
    height: 77px;
}

.between-social__item_vk{
	background-image: url(../img/between/vk.png);

}

.between-social__item_twit{
	background-image: url(../img/between/twit.png);
}

.between-social__item_fb{
	background-image: url(../img/between/fb.png);
}

.footer{
    height: 187px;
	background-color: #d44f68;
	position: relative;
	overflow: hidden;
}

.footer-items{
	position: absolute;
    left: 50%;
    margin-left: -509px;
    top: 83px;
}

.footer-items__item{
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
    margin-right: 29px;
}

.footer-items2{
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 56px;
	height: 75px;
	border: 1px solid #ffffff;
    box-sizing: border-box;
    width: 521px;
    padding-left: 35px;
}

.footer-items2__item{
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 300;
    margin-top: 7px;
}