@font-face {
    font-family: 'Roboto';
    src: url('Roboto100/roboto-100-normal.woff2') format('woff2'), url('Roboto100/roboto-100-normal.woff') format('woff'), url('Roboto100/roboto-100-normal.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto300/roboto-300-normal.woff2') format('woff2'), url('Roboto300/roboto-300-normal.woff') format('woff'), url('Roboto300/roboto-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto400/roboto-400-normal.woff2') format('woff2'), url('Roboto400/roboto-400-normal.woff') format('woff'), url('Roboto400/roboto-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto700/roboto-700-normal.woff2') format('woff2'), url('Roboto700/roboto-700-normal.woff') format('woff'), url('Roboto700/roboto-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brush MTI';
    /*src: url('BrushScript/BrushScriptIt.ttf');*/
    src: url('BrushScript/BrushScriptMT.eot?#iefix') format('embedded-opentype'),  url('BrushScript/BrushScriptMT.woff') format('woff'), url('BrushScript/BrushScriptMT.ttf')  format('truetype');    
}

@font-face {
    font-family: 'Calligraphia';
    src: url('CalligraphiaTwo/CalligraphiaTwo.ttf');    
}

@font-face {
    font-family: 'ComicSans';
    src: url('ComicSans/ComicSans.ttf');    
}

@font-face {
    font-family: 'Copperplate';
    src: url('Copperplate/Copperplate.ttf');    
}

@font-face {
    font-family: 'Heinrich';
    src: url('HeinrichScript/HeinrichScript.ttf');    
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/Helvetica.ttf');    
}

@font-face {
    font-family: 'Moderno';
    src: url('ModernoTwo/ModernoTwo.ttf');    
}