<div class="askForm_form" ng-class="{'askForm__hide':vm.state!='form'}">
	<div class="askForm_title">Возникли вопросы? Мы вам поможем!</div>
	<input type="text" class="askForm_inp" placeholder="Ваше имя" ng-model="vm.values.name" ng-class="{'askForm_inp__error':!vm.validResults.name}">
	<input type="text" class="askForm_inp" placeholder="E-mail" ng-model="vm.values.email" ng-class="{'askForm_inp__error':!vm.validResults.email}">
	<textarea class="askForm_text" rows="1" placeholder="Вопрос" ng-model="vm.values.text" ng-class="{'askForm_text__error':!vm.validResults.text}"></textarea>
	<div class="askForm_sendBtn" ng-click="vm.sendForm()">отправить</div>	
	
</div>

<div class="askForm_loading" ng-class="{'askForm_loading__visible':vm.state=='loading'}">
	<div class="askForm_loading-text">Идёт отправка</div>
	<img src="/img/ui/loading.gif" class="askForm_loading-img">
</div>

<div class="askForm_success" ng-class="{'askForm_success__visible':vm.state=='success'}">
	<div class="askForm_success-text1">Сообщение отправлено!</div>
	<div class="askForm_success-text2">Мы ответим вам в ближайешее время.</div>
</div>

<footer class="footer-wrap footer-wrap__aboslute"></footer>