
.tooltip {
  position: absolute;
  z-index: 10;
  background-position: 0 0;
  background-repeat:no-repeat;

  &__close {
    position:absolute;
    top: 18px;
    right: 18px;
    width: 13px;
    height: 13px;
    background-image:url('/img/constructor/tip-close.png');
    background-repeat:no-repeat;
    background-position:0 0;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &_bottom {
    background-image: url('/img/constructor/tip-bottom-bg.png');
    width: 393px;
    height: 85px;
    padding-top: 25px;
    padding-left: 15px;
  }

  &_fonts {
    top: 59px;
    right: 12px;
    opacity: 1;
    

    &.ng-hide-add,&.ng-hide-remove {
      transition:0.3s linear top,0.3s linear opacity;
    }

    &.ng-hide-remove { 
      opacity: 0; 
      top:65px;
      &.ng-hide-remove-active {
        opacity: 1;
        top:59px;
      }
    }

    &.ng-hide-add { 
      opacity: 1;
      &.ng-hide-add-active {
        opacity: 0;
      } 
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    color: #dddaa6;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    width: 294px;
    padding-left: 11px;
    padding-top: 5px;
  }

}