html {
	height: 100%;
}

body {
    background-color: #eee;
    min-width: 1154px;
    min-height: 100%;
    height: 100%;
    overflow-y: scroll;
}

.font-loader {
	visibility: hidden;
    position: absolute;
    bottom: -10px;
}

.font-loader_BrushMT {
	font-family: Brush MTI;
}

.font-loader_Calligraphia {
	font-family: Calligraphia;
}

.font-loader_ComicSans {
	font-family: ComicSans;		
}

.font-loader_Copperplate {
	font-family: Copperplate;	
}

.font-loader_Heinrich {
	font-family: Heinrich;
}

.font-loader_Helvetica {
	font-family: Helvetica;
}

.font-loader_Moderno {
	font-family: Moderno;
}

.animate-if {

}

.animate-if.ng-enter, .animate-if.ng-leave {
  
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
  transition:opacity linear 0.3s;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
  transition:opacity linear 0.1s;
}



.site-wrap {
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    min-height: 934px;
    position: relative;
}

.header {
	position: relative;	
	height: 146px;
	background-color: #fff;
	overflow: hidden;
}

.header_inner {
	
	position: relative;
	z-index: 2;
}	

.header_title {
	display: inline-block;
	vertical-align: top;
    width: 467px;
    padding-top: 20px;
    padding-left: 40px;
    text-decoration: none;
    cursor: pointer;
}

.header_title-text1 {
	display: inline-block;
	vertical-align: top;
	color: #1577c0;
	font-family: Roboto;
	font-size: 42px;
	font-weight: 700;
}

.header_title-img {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
    margin-left: 3px;
}

.header_title-text2 {
	color: #1577c0;
    font-family: Roboto;
    font-size: 42px;
    font-weight: 700;
    margin-left: 91px;
    margin-top: 8px;
}

.header_bg-decor1 {
	position: absolute;
	top:0;
	left: 50%;
	height: 146px;
	width: 318px;
	margin-left: -400px;
	background-image: url('/img/header-bg-decor1.png');
	background-repeat:no-repeat;
	z-index: 1;
}

.header_bg-decor2 {
	position: absolute;
	top:0;
	left: 50%;
	height: 146px;
    width: 421px;
    margin-left: 401px;
	background-image: url('/img/header-bg-decor2.png');
	background-repeat:no-repeat;
	z-index: 1;
}

.header_cntrl {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 600px;
    text-align: right;
    margin-right: 4%;
    padding-top: 38px;
}

.header_phone {
	background-image: url(/img/ui/phone.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #1577c0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding-left: 30px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.header_menu {	
    margin-top: 1px;
    margin-left: 0;
}

.header_menu-item {
	display: inline-block;
    vertical-align: top;
    color: #073f68;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 10px;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 1200px) {
	.header_menu-item {
		padding: 20px 10px;
	}
}

.header_menu-item__last {
	padding-right: 0;
}

.header_menu-item-text {
	display: inline-block;
	padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}

.header_menu-item:hover .header_menu-item-text{
	border-bottom: 2px solid #1577c0;
}

.header_menu-item__active .header_menu-item-text{
	border-bottom: 2px solid #1577c0;
}


.pageProgress {
	visibility: hidden;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #999;
	z-index: 10;
}

.pageProgress__visible {
	visibility: visible;
}

.pageProgress_bar {
	position: absolute;
	top:0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #ffc800;
	transition: 0.2s width linear;
}

.pageProgress__complite .pageProgress_bar {
	width: 100%;
}


.mainPage {
	visibility: visible;
}

.mainPage__hide {
	visibility: hidden;
}

.mainPage__visible {
	display: block;	
}

.mainPage__fullhide {
	display: none;
}

.constructorPage {
	/*visibility: hidden;
	opacity: 0;	*/
}

.constructorPage__visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s linear;
	min-height: 645px;
}

.watchinfo {	    
    position: relative;
    /*background-image: url(/img/constructor-info-bg.jpg);*/
    background-repeat: no-repeat;
    background-position: top center;
}

.watchinfo_inner {
	width: 1100px;
	height: 602px;
	margin: 0 auto;
	position: relative;
	z-index: 11;
}

.watchinfo_title {
	position: absolute;
    top: 51px;
    left: 14px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 39px;
	font-weight: 300;
}

.watchinfo_text {
	position: absolute;
	color: #ffffff;
	font-family: Roboto;
	font-size: 23px;
	font-weight: 300;
}

.watchinfo_text__1 {
	font-weight: 400;
    top: 187px;
    left: 297px;
    text-align: right;
    line-height: 28px;
}

.watchinfo_text-t1-l1 {

}

.watchinfo_text-t1-l2 {

}



.watchinfo_text__2 {
	top: 47px;
    left: 660px;
}

.watchinfo_text__3 {
    top: 220px;
    left: 964px;
}

.watchinfo_text__4 {
    top: 398px;
    left: 964px;
}

.watchinfo_text__5 {
    top: 558px;
    left: 670px;
}

.watchinfo_text__6 {
	top: 401px;
    left: 318px;
}

.watchinfo_dekor {
	position: absolute;
    bottom: 41px;
    left: 52px;
}

/*
.costuctorstart {
	position: relative;
    height: 724px;
}

.constructorstart_title {
	text-align: center;
	color: #2d3e75;
	font-family: Roboto;
	font-size: 38px;
	font-weight: 300;
    padding-top: 55px;
}

.costuctorstart_global-half {
	position: absolute;
	top:0;
	width: 50%;
	height:100%;
}

.costuctorstart_global-half__left {	
	left: 0;	
}

.costuctorstart_global-half__right {	
	right:0;	
}


.constrcutorstart_box-border {
	position: absolute;
	top:167px;
	left: 50%;
	margin-left:-471px;
	width: 942px;
	height: 495px;
	box-shadow: 0 0 5px rgba(61, 61, 61, 0.28);
	border-radius: 4px;
	z-index: 1;
}

.constrcutorstart_box-half {
	position: absolute;
	top:167px;	
	width: 471px;
	height: 495px;
	z-index: 2;
	cursor: pointer;
}

.constrcutorstart_box-half__man {
	background-image: url('/img/start-man.png');
	background-repeat:no-repeat;
	background-position: 104px 0;
	right: 0;
	background-color: rgba(216, 215, 215, 0.91);
}

.constrcutorstart_box-half__woman {
	background-image: url('/img/start-woman.png');
	background-repeat:no-repeat;
	background-position: 104px 0;
	left: 0;
	background-color: rgba(255, 251, 251, 0.95);
}

.constrcutorstart_box-half-start {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 422px;
	background-color: rgba(32, 32, 32,0.75);
	text-align: center;
	visibility: hidden;
	opacity: 0;
}

.costuctorstart_global-half:hover .constrcutorstart_box-half-start {
	visibility: visible;
	opacity: 1;	
}

.constrcutorstart_box-half-startBtn {
	display: inline-block;
	width: 367px;
	border-radius: 10px 9px 9px 10px;
	border: 2px solid #ffffff;
	margin-top:182px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	padding-top: 15px;
    padding-bottom: 15px;
	cursor: pointer;
	opacity: 0.4;
	transition: 0.3s opacity linear;
}

.constrcutorstart_box-half-startBtn__woman{
    border: 2px solid #f5cece;
    color: #f5cece;
}

.costuctorstart_global-half:hover .constrcutorstart_box-half-startBtn{
	opacity: 1;
}

.constrcutorstart_box-half-label {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 73px;
	width: 100%;
	text-align: center;
	
}

.constrcutorstart_box-half-label__man {
	background-color: rgba(0, 0, 0, 0.92);
}

.constrcutorstart_box-half-label__woman {
	background-color: rgba(255, 255, 255, 0.92);
}


.constrcutorstart_box-half-label-text {
	display: inline-block;
	vertical-align: top;
	font-family: Roboto;
	font-size: 39px;
	font-weight: 400;
	line-height: 73px;
}

.constrcutorstart_box-half-label-text__man {
	color: #fff;
}

.constrcutorstart_box-half-label-text__man:before {
	display: inline-block;
    vertical-align: top;
    content: '';
    height: 4px;
    width: 35px;
    margin-top: 32px;
    margin-right: 20px;
    background-color: #fff;
}

.constrcutorstart_box-half-label-text__man:after {
	display: inline-block;
    vertical-align: top;
    content: '';
    height: 4px;
    width: 35px;
    margin-top: 32px;
    margin-left: 20px;
    background-color: #fff;
}

.constrcutorstart_box-half-label-text__woman {
    color: #4b0000;
}

.constrcutorstart_box-half-label-text__woman:before {
	display: inline-block;
    vertical-align: top;
    content: '';
    height: 4px;
    width: 35px;
    margin-top: 32px;
    margin-right: 20px;
    background-color: #4b0000;
}

.constrcutorstart_box-half-label-text__woman:after {
	display: inline-block;
    vertical-align: top;
    content: '';
    height: 4px;
    width: 35px;
    margin-top: 32px;
    margin-left: 20px;
    background-color: #4b0000;
}
*/

.examples {
	height: 450px;
	position: relative;
	background-color: #fff;
	padding-top:71px;
	padding-bottom: 40px;
	visibility: hidden;
}

.examples__visible {
	visibility: visible;
}

.examples_title {
	color: #2d3e75;
	font-family: Roboto;
	font-size: 38px;
	font-weight: 100;
	margin-bottom: 76px;
	text-align: center;
}

.examples_items {
    width: 1154px;
    margin: 0 auto;
    padding: 0 100px;

}

.examples_item {
	outline: none;
}

.examples_item-img {
    width: 273px;
    margin: 0 auto;
}

.examples_prev {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin-right: 464px; 
}

.examples_next {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left:50%;
	margin-left: 464px;
}


.examples_prev-arrow {
	position: absolute;
	top: 249px;
    left: 30%;
	width: 44px;
	height: 92px;
	background-image:url('/img/carousel-arrow-left.png');
	background-repeat: no-repeat;
	background-position:0 0;
}

.examples_prev:hover .examples_prev-arrow  {
	opacity: 0.6;
}

.examples_next-arrow {
	position: absolute;
    top: 249px;
    right: 30%;
	width: 44px;
	height: 92px;
	background-image:url('/img/carousel-arrow-right.png');
	background-repeat: no-repeat;
	background-position:0 0;
}

.examples_next:hover .examples_next-arrow  {
	opacity: 0.6;
}

.askForm {
	display: block;
    position: absolute;
    top: 146px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(/img/page-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 108px;
    
}

.askForm__hide {
	display: none;
}

.askForm_form {
	width: 726px;
    margin: 0 auto;
}

.askForm_title {
	color: #2d3e75;
	font-family: Roboto;
	font-size: 38px;
	font-weight: 300;
    margin-bottom: 45px;
}

.askForm_inp {
	width: 655px;
    display: block;
    border: none;
    border-bottom: 2px solid #063d95;
    color: #4c4c4c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    background-color: transparent;
    padding: 13px 0;
    padding-left: 6px;
    margin-bottom: 16px;
    margin-left: 7px;
    outline: none;
}

.askForm_inp__error {
	border-bottom: 2px solid #ff2d2d;
}

.askForm_inp::-webkit-input-placeholder { 
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 100;
}

.askForm_inp:-moz-placeholder { 
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 100;
}


.askForm_inp::-moz-placeholder { 
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 100;
}

.askForm_inp:-ms-input-placeholder { 
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 100;
}

.askForm_text {
	width: 655px;
    display: block;
    border: none;
    border-bottom: 2px solid #063d95;
    color: #4c4c4c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    background-color: transparent;
    padding: 13px 0;
    padding-left: 6px;
    margin-bottom: 16px;
    resize: none;
    height: auto;
    margin-left: 7px;
    outline: none;
    max-height: 128px;
}

.askForm_text__error {
	border-bottom: 2px solid #ff2d2d;
}

.askForm_text::-webkit-input-placeholder { 
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 100;
}

.askForm_text:-moz-placeholder { 
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 100;
}


.askForm_text::-moz-placeholder { 
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 100;
}

.askForm_text:-ms-input-placeholder { 
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 100;
}

.askForm_sendBtn {
	display: inline-block;
	vertical-align: top;
    width: 270px;
    height: 52px;
    line-height: 52px;
    border-radius: 2px;
    background-color: #175c7a;
    color: #fefefe;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
    cursor: default;
    margin-left: 7px;
    outline: none;
    border: none;
}

.askForm_sendBtn:hover {
    background-color: #2984ac;
}

.askForm_loading {
	width: 726px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.askForm_loading__visible {
	display: block;
}

.askForm_loading-text {
	display: inline-block;
	vertical-align: top;
	color: #000000;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
}

.askForm_loading-img {
	display: inline-block;
	vertical-align: top;
    margin-left: 20px;
    width: 26px;
}


.askForm_success {
	width: 435px;
    margin: 0 auto;
    padding-top: 51px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.askForm_success__visible {
	opacity: 1;
	visibility: visible;
}

.askForm_success-text1 {
	color: #2d3e75;
	font-family: Roboto;
	font-size: 38px;
	font-weight: 300;
    margin-bottom: 45px;
}

.askForm_success-text2 {
	color: #2d3e75;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
    margin-bottom: 45px;
}


.cabinetSignin {
	display: block;
    position: absolute;
    top: 146px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(/img/page-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
    padding-top: 207px;
}

.cabinetSignin_form {
	width: 726px;
	height: 268px;
    margin: 0 auto;
    position: relative;
}

.cabinetSignin_title {
	color: #2d3e75;
    font-family: Roboto;
    font-size: 38px;
    line-height: 47px;
    font-weight: 300;
    margin-bottom: 63px;
}

.cabinetSignin_inp {
    width: 330px;
    display: inline-block;
    vertical-align: top;
    border: none;
    color: #111;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 13px 0;
    padding-left: 13px;
    margin-left: 25px;
    outline: none;
}

.cabinetSignin_sendBtn {
    display: inline-block;
    vertical-align: top;
    width: 270px;
    height: 54px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #175c7a;
    color: #fefefe;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    cursor: default;
    margin-left: 19px;
    border: none;
    outline: none;
}

.cabinetSignin_sendBtn:hover {
    background-color: #2984ac;
}

.cabinetSignin_notFound {
	position: absolute;
    left: 26px;
    bottom: 5px;
	color: #2d3e75;
    font-family: Roboto;
    font-size: 22px;
    line-height: 47px;
    font-weight: 300;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.cabinetSignin_notFound__visible {
	visibility: visible;
	opacity: 1;
}

.cabinetSignin_notValidEmail {
	position: absolute;
    left: 26px;
    bottom: 5px;
	color: #2d3e75;
    font-family: Roboto;
    font-size: 22px;
    line-height: 47px;
    font-weight: 300;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.cabinetSignin_notValidEmail__visible {
	visibility: visible;
	opacity: 1;
}

.footer-wrap {

}

.footer-wrap__aboslute {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}


.footer {
	height: 54px;
	background-image: url('/img/footer-bg.jpg');
	background-repeat: no-repeat;
	background-position:top center;
	text-align: center;
}

.footer_year {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	line-height: 54px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
}

.footer_copyright {
	display: inline-block;
	vertical-align: top;
	line-height: 54px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
}

.footer_ip {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 10px;
    line-height: 18px;
    margin-left: 230px;
}

.footer_ip-name {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
}

.footer_ip-num {
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
}

