.site-wrap{
	min-width: 1200px;
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
}

.inner {
	width: 1200px;
	margin: 0 auto;
}

.header {
	background-image: url(../img/header/BGI.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	height: 862px;
}

.header-info {
	position: absolute;
	left: 50%;
    top: 86px;
    margin-left: -249px;
    z-index: 10;
}

.header-info__title {
    width: 489px;
    padding-left: 18px;
	font-size: 30px;
	font-family: HeinrichScript;
	color: rgb(54, 62, 78);
}

.header-info__text {
	padding-top: 29px;
}

.header__watch {
	position: absolute;
    left: 50%;
    margin-left: -620px;
    z-index: 1;
}

.header-slogan {
	background-color: rgb(56, 56, 56);
    position: absolute;
    left: 50%;
    top: 370px;
    margin-left: -515px;
    width: 683px;
    height: 316px;
    padding-left: 226px;
    padding-top: 15px;
    z-index: 0;
}

.header-slogan__bgadd {
	position: absolute;
	background-color: rgb(56, 56, 56);
	height: 115px;
	width: 15px;
	left: -15px;
	top:0;
}

.header-slogan__title {
	font-family: Roboto;
    font-size: 39px;
    font-weight: 300;
    color: rgb(254, 254, 254);
    line-height: 1.2;
}

.header-slogan__text1 {
    color: #fefefe;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    padding-top: 4px;
}

.header-slogan__text2 {
    color: #fefefe;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    padding-top: 34px;
    padding-left: 67px;
}


.header-slogan__img {
	position: absolute;
	top: 127px;
    right: 409px;
}

.header-slogan__orderBtn {
    display: block;
    position: absolute;
    top: 216px;
    right: 44px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(154, 159, 164);
    border-radius: 1px;
    background-image: linear-gradient(180deg, rgb(104,104,104) 0%, rgb(104,104,104) 50%, rgb(92,92,92) 51%, rgb(92,92,92) 100%);
    box-shadow: 0px 6px 7.52px 0.48px rgba(0, 0, 0, 0.28);
    width: 438px;
    height: 54px;
    font-size: 25px;
    font-family: "Roboto";
    color: rgb(254, 254, 254);
    line-height: 54px;
    text-shadow: 0px 6px 7.52px rgba(0, 0, 0, 0.07);
    text-decoration: none;
    text-align: center;
}

.header-slogan__orderBtn:hover {
    background-image: linear-gradient(180deg, rgb(137, 137, 137) 0%, rgb(104,104,104) 50%, rgb(92,92,92) 51%, rgb(102, 101, 101) 100%);
    box-shadow: 0px 2px 7.52px 0.48px rgba(0, 0, 0, 0.28);
}

.header-under {
	position: absolute;
	width: 100%;
    top: 685px;
	height: 170px;
	background-color: #e8e8e8;
	text-align: center;
}

.header-under__line {
	background-color: rgb(0, 0, 0);	
	width: 1615px;
	height: 3px;
    margin-bottom: 1px;
    margin-top: 9px;
}

.header-under__line2{
	background-color: rgb(0, 0, 0);	
	width: 1615px;
	height: 3px;
}

.header-under__img {
    margin-left: -224px;
    margin-top: 19px
}

.header-under__text {
    font-size: 36px;
    font-family: Roboto;
    color: rgb(54, 62, 78);
    font-weight: 700;
    line-height: 1.2;
    display: inline-block;
    vertical-align: top;
    margin-top: 48px;
    margin-left: 77px;
}

.screen2{
	background-image: url(../img/screen2/BGI.jpg);
	background-position: top center;
	width: 100%;
	height: 944px;
	position: relative;
}

.screen2-title{
	background-image: url(../img/screen2/topic.png);	
	background-repeat: no-repeat;
	background-position: top center;
	height: 175px;
	position: absolute;
    top: -7px;
    left: 0;
    width: 100%;

}

.screen2-title__text{
	font-size: 29px;
	font-family: Copperplate;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 50%;
	top: 50px;
}

.screen2-title__text_location1{
    margin-left: -552px;
}

.screen2-title__text_location2{
    margin-left: 89px;
}

.screen2-title__img{
	display: inline-block;
	vertical-align: top;
	position: absolute;
	left: 50%;
    top: 39px;
    margin-left: -15px;
}

.screen2-contents{
}

.screen2-contents__img-watch{
	position: absolute;
	left: 50%;
    margin-left: -301px;
    top: 205px;
    z-index: 10;
}

.screen2-contents__img-underlines{
    position: absolute;
    left: 50%;
    top: 240px;
    margin-left: -732px;
}

.screen2-contents__head-text{
	font-size: 43px;
	font-family: Roboto;
	color: rgb(255, 255, 255);
	line-height: 1.2;
    position: absolute;
    left: 50%;
    top: 214px;
    margin-left: -554px;
}

.screen2-contents__text{
    text-shadow: 0px 0px 25px #fff;
	font-size: 43px;
	font-family: Roboto;
	color: rgb(0, 32, 95);
	line-height: 1.2;
	position: absolute;
    left: 50%;
    font-weight: 300;
	z-index: 9;
	opacity: 0;
	transition:top 0.5s linear, margin 0.5s linear, opacity 0.3s linear;
}

.screen2-contents__text_item1{
    top: 545px;
    margin-left: -176px;
}

.visible .screen2-contents__text_item1{
    top: 545px;
    margin-left: -441px;
    opacity: 1;
}

.screen2-contents__text_item2{    
    top: 329px;
    margin-left: -79px;
    
}

.visible .screen2-contents__text_item2 {    
    top: 198px;
    margin-left: -79px;
    opacity: 1;
}

.screen2-contents__text_item3{
    top: 545px;
    margin-left: 14px;
}

.visible .screen2-contents__text_item3{
    top: 545px;
    margin-left: 246px;
    opacity: 1;
}

.screen2-contents-button{
	position: absolute;
	left: 50%;
    top: 859px;
    margin-left: -219px;
    z-index:11;
}

.screen2-contents-button__point{
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

.screen2-contents-button__point_item1{
	margin-right: 22px;
}

.screen2-contents-button__point_item2{
	margin-left: 22px;
}

.screen2-contents-button__text{
	display: inline-block;
	vertical-align: top;
	font-size: 26px;
    font-family: Roboto;
    color: rgb(254, 254, 254);
    line-height: 1.2;
    border-width: 2px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	background-color: rgb(71, 71, 71);
    width: 358px;
    height: 54px;
    padding-top: 8px;
    padding-left: 42px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.screen2-contents-button__text:hover {
    background-color: #d7e1e3;
    color: #363e4e;
}

.screen3 {
	height: 710px;
	position: relative;
	background-color: #b2cbd7;
}

.screen3__title {    
	padding-top: 16px;
	padding-bottom: 40px;
	height: 182px;  
}

.screen3__title-text1 {
	color: #363e4e;
	font-family: Copperplate;
	font-size: 51px;
	font-weight: 400;
	text-align: center;
}

.screen3__title-text2 {
	color: #363e4e;
	font-family: Copperplate;
	font-size: 33px;
	font-weight: 400;
    margin-top: 7px;
    text-align: center;
}


.screen3-slogan {
    position: absolute;
    left: 0;
    top: 144px;
    background-image: url(../img/screen3/rectangle2.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 50%;
    height: 566px;
    padding-left: 28px;
    padding-top: 24px;
    box-sizing: border-box;
}

.screen3-slogan__img{
	position: absolute;
    top: 17px;
    right: 154px;;
}

.screen3-slogan__head {
    color: #363e4e;
    font-family: Copperplate;
    font-size: 31px;
    font-weight: 400;
    width: 501px;
    height: 71px;
    position: absolute;
    top: 129px;
    right: 65px;
    line-height: 37px;
}

.screen3-slogan__text-wrap {
    position: absolute;
    right: 0;
    top: 272px;
    width: 315px;
}

.screen3-slogan__text {
	color: #363e4e;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;

}

.screen3-slogan__text_margintop1{
	
}

.screen3-slogan__text_margintop2{
	margin-top: 26px;
}

.screen3-slogan__watch {
    position: absolute;
    right: 240px;
    top: 125px;
}

.screen3__photo {
	position: absolute;
	top: 144px;
	right: 0;
    background-image: url(../img/screen3/photo.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 50%;
    height: 566px;
}

.between2 {
	width: 100%;
	height: 302px;
	background-color: #e8e8e8;
	position: relative;
}

.between2-lines{
	position: absolute;
	top: 5px;
	width: 100%;
}

.between2-lines__item {
	height: 3px;
	background-color: #000000;
    width: 100%;
    margin-bottom: 3px;
}

.between2-content__item_location1{
}

.between2-content__item_location2{
}

.between2-content {
	width: 730px;
	margin: 0 auto;
    padding-top: 43px;
    padding-left: 66px;
    box-sizing: border-box;
}

.between2-content__img {
	position: absolute;
	left: 50%;
    top: 36px;
    margin-left: -541px;
}

.between2-content__title {
	color: #363e4e;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	width: 669px;
	display: inline-block;
	vertical-align: top;
}

.between2-content__info {
	width: 722px;
	color: #363e4e;
	font-family: Roboto;
	font-size: 25px;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
    margin-top: 50px;
}

.screen4{
	height: 761px;
	position: relative;
	background-image: url(../img/screen4/BGI.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.screen4__watch{
	position: absolute;
	left: 50%;
    margin-left: -776px;
    top: 0px;
    z-index: 10;
}

.screen4-info{
    position: absolute;
    left: 50%;
    bottom: 69px;
    margin-left: -456px;
    padding-top: 34px;
    padding-left: 218px;
    width: 823px;
    height: 309px;
    background-color: #000026;
}

.screen4-info__title{
	color: #ffffff;
	font-family: Roboto;
	font-size: 41px;
	font-weight: 700;
    padding-left: 78px;
}

.screen4-info__slogan{
	color: #ffffff;
	font-family: Roboto;
	font-size: 34px;
	font-weight: 400;
    margin-top: 8px;
    padding-left: 82px;
}

.screen4-info__text{
	color: #ffffff;
	font-family: Roboto;
	font-size: 24px;
	font-style: italic;
    margin-top: 30px;
    padding-right: 22px;
}

.screen5{
	position: relative;
	background-color: #eaeaed;
    padding-top: 168px;
    padding-bottom: 52px;
}

.screen5__dekor {
	position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -106px;
}

.screen5__slider {
	width: 1200px;
	margin: 0 auto;
}

.slide {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 631px;
	background-position: top center;
	background-repeat: no-repeat;
	outline: none;
}

.slide_1{
	background-image: url(../img/slider/slide1/BGI.png);	
}

.slide__rectangle{
    position: absolute;
    padding-left: 25px;
    padding-top: 14px;
}

.slide__rectangle_element1{
	width: 585px;
	height: 222px;
	background: rgba(192,207,220,1);
	background: -moz-linear-gradient(top, rgba(192,207,220,1) 0%, rgba(192,207,220,0.25) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(192,207,220,1)), color-stop(100%, rgba(192,207,220,0.25)));
	background: -webkit-linear-gradient(top, rgba(192,207,220,1) 0%, rgba(192,207,220,0.25) 100%);
	background: -o-linear-gradient(top, rgba(192,207,220,1) 0%, rgba(192,207,220,0.25) 100%);
	background: -ms-linear-gradient(top, rgba(192,207,220,1) 0%, rgba(192,207,220,0.25) 100%);
	background: linear-gradient(to bottom, rgba(192,207,220,1) 0%, rgba(192,207,220,0.25) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0cfdc', endColorstr='#c0cfdc', GradientType=0 );
	left: 50%;
    top: 24px;
    margin-left: -30px;
	
}

.slide__rectangle-text{
	color: #132030;
	font-family: Copperplate;
	font-size: 35px;
	font-weight: 400;
    line-height: 1.1;
}

.slide__rectangle-text_black{
	color: #ffffff;
	background-color: #000000;
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 7px;
}

.slide__rectangle-text_marginbottom40 {
	margin-bottom: 40px;
}

.slide__rectangle-text_marginleft40{
	margin-left: 40px;
}

.slide__rectangle-line{
	position: absolute;
	width: 90%;
	height: 2px;
    left: 0px;
    top: 112px;
}

.slide__rectangle-line:before {
	position:absolute;
	top: -6px;
    right: -14px;
}

.slide__rectangle-line_black{
	background-color: #2a3a54;
}

.slide__rectangle-line_black:before {
	content:url(../img/slider/slide1/rhombus.png);	
}

.slide__rectangle-line_white{
	background-color: #ffffff;
}

.slide__rectangle-line_white:before {
	content:url(../img/slider/slide2/rhombus.png);	
}

.slide__watch{
	position: absolute;
	left: 50%;    
}

.slide__watch_element1 {
	margin-left: 153px;
    top: 261px;
}

.slide_2{
	background-image: url(../img/slider/slide2/BGI.jpg);	
}

.slide__rectangle_element2{
	left: 50%;
    margin-left: -33px;
    top: 24px;
	width: 600px;
	height: 224px;
	background: rgba(67,68,95,1);
	background: -moz-linear-gradient(top, rgba(67,68,95,1) 0%, rgba(67,68,95,0.31) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,68,95,1)), color-stop(100%, rgba(67,68,95,0.31)));
	background: -webkit-linear-gradient(top, rgba(67,68,95,1) 0%, rgba(67,68,95,0.31) 100%);
	background: -o-linear-gradient(top, rgba(67,68,95,1) 0%, rgba(67,68,95,0.31) 100%);
	background: -ms-linear-gradient(top, rgba(67,68,95,1) 0%, rgba(67,68,95,0.31) 100%);
	background: linear-gradient(to bottom, rgba(67,68,95,1) 0%, rgba(67,68,95,0.31) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43445f', endColorstr='#43445f', GradientType=0 );
}

.slide__rectangle-text_marginleft140 {
    margin-left: 140px;
}

.slide__rectangle-text2{
	color: #ffffff;
	font-family: Copperplate;
	font-size: 35px;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
}

.slide__rectangle-text_white{
	display: inline-block;
	vertical-align: top;
	line-height: 36px;
	background-color: #ffffff;
	color: #353648;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 4px;
}

.slide__rectangle-text_marginbottom50{
	margin-bottom: 50px;
}

.slide__watch_element2 {
	margin-left: 153px;
    top: 268px;
}

.slide_3{
	background-image: url(../img/slider/slide3/BGI.jpg);
}

.slide__rectangle_element3{
	background: rgba(40,54,76,1);
	background: -moz-linear-gradient(top, rgba(40,54,76,1) 0%, rgba(40,54,76,0.49) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,54,76,1)), color-stop(100%, rgba(40,54,76,0.49)));
	background: -webkit-linear-gradient(top, rgba(40,54,76,1) 0%, rgba(40,54,76,0.49) 100%);
	background: -o-linear-gradient(top, rgba(40,54,76,1) 0%, rgba(40,54,76,0.49) 100%);
	background: -ms-linear-gradient(top, rgba(40,54,76,1) 0%, rgba(40,54,76,0.49) 100%);
	background: linear-gradient(to bottom, rgba(40,54,76,1) 0%, rgba(40,54,76,0.49) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28364c', endColorstr='#28364c', GradientType=0 );
	left: 50%;
    margin-left: -40px;
    top: 14px;
	width: 578px;
	height: 247px;
}

.slide__rectangle-text2_yellow{
	color: #ebe139;
	display: inline-block;
	vertical-align: top;
}

.slide__rectangle-wrap{
}


.slide__rectangle-text2-wrap{
}

.slide__watch_element3 {
	margin-left: 153px;
    top: 273px;
}

.slide_4{
	background-image: url(../img/slider/slide4/BGI.jpg);
}

.slide__rectangle_element4{
	background: rgba(13,25,47,1);
	background: -moz-linear-gradient(top, rgba(13,25,47,1) 0%, rgba(13,25,47,0.47) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,25,47,1)), color-stop(100%, rgba(13,25,47,0.47)));
	background: -webkit-linear-gradient(top, rgba(13,25,47,1) 0%, rgba(13,25,47,0.47) 100%);
	background: -o-linear-gradient(top, rgba(13,25,47,1) 0%, rgba(13,25,47,0.47) 100%);
	background: -ms-linear-gradient(top, rgba(13,25,47,1) 0%, rgba(13,25,47,0.47) 100%);
	background: linear-gradient(to bottom, rgba(13,25,47,1) 0%, rgba(13,25,47,0.47) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d192f', endColorstr='#0d192f', GradientType=0 );
	left: 50%;
	margin-left: -471px;
    top: 245px;
	width: 606px;
    height: 210px;
}

.slide__watch_element4 {
	margin-left: 190px;
    top: 182px;
}

.slick-list {
	overflow: hidden;
}

.screen5-arrow-left__img{
	position: absolute;
    left: 10px;
    top: 430px;
	z-index: 100;
}

.screen5-arrow-right__img{
	position: absolute;
	right: 10px;
    top: 430px;
    z-index: 100;
}


.screen6{
	position: relative;
	height: 560px;
    background-color: #eaeaed;
    overflow: hidden;
}

.screen6__watch{
	position: absolute;
	left: 50%;
    top: 0;
    margin-left: -497px;
	z-index: 5;
}

.screen6-title{
    position: absolute;
    left: 50%;
    margin-left: 77px;
    top: 3px;
}

.screen6-title__points {
	width: 8px;
	height: 8px;
	background-color: #222222;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
    margin-top: 30px;
	}

.screen6-title__points_location1{
    margin-right: 12px;
}

.screen6-title__points_location2{
    margin-left: 13px;
}

.screen6-title__text{
	text-shadow: 5px 5px 4px #d4d2d2;
	color: #4e5f70;
	font-family: HeinrichScript;
	font-size: 67px;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
}

.screen6-input{
	position: absolute;
	left: 50%;
    margin-left: 46px;
    top: 180px;
}

.screen6-input__img-triangle{
	display: inline-block;
	vertical-align: top;
    margin-right: 12px;
    margin-top: 4px;
}

.screen6-input__element{
	display: inline-block;
	vertical-align: top;
	width: 356px;
	height: 51px;
	border-radius: 4px;
	border: 1px solid #717171;
	background-color: #ffffff;
    margin-bottom: 35px;
    color: #3c3b3b;
	font-family: Roboto;
	font-size: 27px;
	font-weight: 400;
    padding-left: 10px;
    outline: none;
}

.screen6-input__button{
	display: block;
    width: 357px;
    height: 54px;
    line-height: 54px;
    border: 1px solid #ffffff;
    background-color: #2e5883;
    color: #ffffff;
    font-family: Copperplate;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
	margin-left: 57px;
    margin-top: 10px;
    text-decoration: none;
}

.screen6-input__button:hover{
    background-color: #033568;
}


.screen7{
	background-image: url(../img/screen7/BGI.png);
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
    height: 793px;
}

.screen7__title{
	text-shadow: 5px 5px 4px #d4d2d2;
	color: #023466;
	font-size: 40px;
	font-weight: 400;
	font-family: Copperplate;
	position: absolute;
	left: 50%;
    margin-left: -206px;
    top: 68px;
}

.screen7-info{
	width: 772px;
	height: 147px;
	background-color: #000000;
	padding-top: 2px;
	position: absolute;
	left: 50%;
    margin-left: -207px;
    top: 137px;
}

.screen7-info__topline{
	width: 773px;
	height: 2px;
	background-color: #ffffff;
    margin-bottom: 25px;
}

.screen7-info__text{
	color: #ffffff;
	font-family: Copperplate;
	font-weight: 400;
	font-size: 24px;
    margin-left: 18px;
    line-height: 27px;

}

.screen7-explanation{
	position: absolute;
	left: 50%;
    margin-left: -104px;
    top: 363px;
}

.screen7-explanation__img{
    margin-bottom: 35px;
}

.screen7-explanation__text{
	color: #023466;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	position:relative;
    margin-left: 70px;
    margin-left: 73px;
    opacity:0;
    transition:opacity 0.7s linear;
}

.screen7-explanation__text_visible {
	opacity: 1;
}

.screen7-explanation__text:before {
	content: "";
	border-style: solid;
	border-width: 3px;
	border-color: rgb(2, 52, 102);
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	width: 15px;
	height: 15px;
	position: absolute;
	top: 7px;
    left: -33px;
}

.screen7-explanation__text_location1{
}

.screen7-explanation__text_location2{
    margin-top: 18px;
}

.screen7-explanation__text_location3{
    margin-top: 27px;
}

.screen7-explanation__text_location4{
    margin-top: 27px;
}

.screen8{
    height: 855px;
	background-image: url(../img/screen8/BGI.png);
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
}

.screen8__img-top{
	position: absolute;
	left: 50%;
	top: -16px;
    margin-left: -16px;
}

.screen8__img{
	position: absolute;
	left: 50%;
    top: 139px;
    margin-left: -17px
}

.screen8__title{
	color: #023466;
	font-family: Copperplate;
	font-size: 50px;
	font-weight: 400;
    padding-left: 443px;
    padding-top: 51px;
    box-sizing: border-box;
}

.screen8-steps{
	counter-reset: steps;
	position: absolute;
	left: 50%;
    top: 225px;
    margin-left: -619px;
}

.screen8-steps__text{
	color: #023466;
	font-family: Roboto;
	font-size: 31px;
	font-weight: 400;
	position:relative;
    margin-left: 250px;
    margin-top: 23px;
    height: 74px;
}

.screen8-steps__text:first-child {
	margin-top: 0px;
}

.screen8-steps__text:before {
	position: absolute;
	counter-increment: steps;
	content: counter(steps);
	width: 64px;
	height: 64px;
	border: 3px dashed #2e5883;
	border-radius: 50%;
    top: -10px;
    left: -99px;
	text-align: center;
    line-height: 59px;
}


.between3{
	height: 301px;
	background-color: #e8e8e8;
	position: relative;
    padding-top: 10px;
}

.between3-line{
}

.between3-line__item {
	height: 3px;
	background-color: #000000;
}

.between3-line__item_location1{
    margin-bottom: 2px;
}

.between3-line__item_location2{
}

.between3__slogan{
	color: #363e4e;
	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	position: absolute;
	left: 50%;
    top: 75px;
    margin-left: -566px;
}

.between3__button{
	color: #fefefe;
	font-family: Copperplate;
	font-size: 26px;
	font-weight: 400;
	width: 409px;
	height: 56px;
	border: 2px solid #ffffff;
	background-color: #f24841;
	position: absolute;
	left: 50%;
    top: 68px;
    margin-left: 154px;
    padding-top: 12px;
    padding-left: 41px;
    text-decoration: none;
}

.between3__button:hover{
	background-color: #d1534e; 
}

.between3-social{
	position: absolute;
	z-index: 10;
    top: 190px;
    left: 50%;
    margin-left: -296px;
}

.between3-social__item-text{
	font-size: 26px;
	font-family: Roboto;
	color: rgb(54, 62, 78);
    margin-top: 23px;
    margin-right: 64px;
    display: inline-block;
    vertical-align: top;
}


.between3-social__item {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 105px;
    height: 90px;
}

.between3-social__item_vk{
	background-image: url(../img/between3/vk.png);
}

.between3-social__item_twit{
	background-image: url(../img/between3/twit.png);
}

.between3-social__item_fb{
	background-image: url(../img/between3/f.png);
}


.footer{
    height: 187px;
	background-color: #000000;;
	position: relative;
	overflow: hidden;
}

.footer-items{
	position: absolute;
    left: 50%;
    margin-left: -509px;
    top: 83px;
}

.footer-items__item{
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
    margin-right: 29px;
}

.footer-items2{
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 56px;
    width: 514px;
	height: 75px;
	border: 1px solid #ffffff;
    padding-left: 20px;
    box-sizing: border-box;
}

.footer-items2__item{
	color: #ffffff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 300;
    margin-top: 7px;
}

